<h1 class="fr-h5">Identité non trouvée ⚠️</h1>
<hr class="hr-personalized fr-mb-3w">
<p><b>Votre identité ne correspond à aucun dirigeant enregistré</b> pour <%= organization_label; %> dans le Registre national des entreprises.</p>

<% if (locals.interactionId && locals.oidcError) { %>
  <a href="/interaction/<%= interactionId ;%>/error?error=<%= locals.oidcError %>" class="fr-btn btn--fullwidth">Continuer sur le service</a>
<% } else { %>
  <a href="/" class="fr-btn btn--fullwidth">Retour à l’accueil</a>
<% } %>
