.email-badge-lowercase {
  text-transform: lowercase !important;
}

.float-right {
  float: right;
}

.inline-form {
  display: inline;
}

.error-code {
  white-space: pre-line;
}

.alert-description {
  white-space: break-spaces;
}

.border-shadow {
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.blue-france {
  color: #00008f !important;
}

.grey-background {
  background-color: #f6f6f6 !important;
}

.justify-center {
  justify-content: center !important;
}

.centered-content {
  text-align: center;
}

/* display a loading bar on page load */
#loader-bar {
  transition: width 150ms ease-in-out;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
}

/* Inspired by `.fr-input:disabled` from the DSFR */
input[readonly] {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
}

/* Limited width */
.limited-width {
  max-width: 80px;
  height: auto;
}

/* For links accessibility */
/* https://www.ffoodd.fr/masquage-accessible-de-pointe/index.html */

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}

.go-back-link {
  display: none !important;
}

.go-back-link.visible {
  display: inline-flex !important;
}

/* Adds visual information to correct personal details - certif dirigeant */

.info-mismatch {
  border-left: 4px solid;
  border-left-color: var(--text-default-warning);
}

/* This is a placeholder for the upcoming stepper */

.hr-personalized {
  height: 2px !important;
  background: linear-gradient(
    to right,
    var(--background-active-blue-france),
    var(--background-action-high-blue-france-hover)
  );
  padding: 0 0 0.5rem;
}
