.fr-notice.notice--change-email {
  color: var(--text-action-high-blue-france);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.fr-notice.notice--change-email .fr-notice__body:before {
  content: none;
}

.fr-notice.notice--change-email .fr-notice__body {
  padding-left: 0;
}

.fr-notice.notice--change-email .fr-btn--close:before {
  -webkit-mask-image: url("/dist/arrow-go-back-fill.svg");
  mask-image: url("/dist/arrow-go-back-fill.svg");
}

.fr-tile.selectable-tile {
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-tile.selectable-tile.selected-tile {
  box-shadow: inset 0 0 0 1px var(--border-plain-blue-france);
}

.fr-tile--horizontal a.fr-btn {
  text-align: center;
}

.btn--danger {
  --hover: inherit !important;
  --active: inherit !important;
  background-color: transparent !important;
  box-shadow: inset 0 0 0 1px var(--border-plain-error) !important;
  color: var(--border-plain-error) !important;
}

.btn--danger:disabled,
a.btn--danger:not([href]) {
  --hover: inherit !important;
  --active: inherit !important;
  background-color: transparent !important;
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
}

.btn--fullwidth {
  justify-content: center !important;
  width: 100% !important;
}

/* see https://docs.partenaires.franceconnect.gouv.fr/fs/fs-integration/integration-bouton-fc/ */
.fr-connect {
  width: 209px;
  height: 56px;
}

/* Customise the header title */
.fr-header__service-title {
  display: flex;
  align-items: center;
  color: var(--text-action-high-blue-france);
}

/* Delete the shadow and reduces the size of the header  */
.fr-header {
  background-color: transparent !important;
  filter: none !important;
}

.fr-header__brand {
  background-color: transparent !important;
  filter: none !important;
}

.fr-header__body-row {
  padding: 0.5rem 0 !important;
}

/* Customise the organisation information tile */

.fr-tile__link {
  color: var(--text-default-grey) !important;
}

.fr-tile__desc,
.fr-tile__desc {
  color: var(--text-mention-grey) !important;
}

.layout-connexion .fr-grid-row .fr-tile {
  height: auto;
}

/* Delete blue bottom border */
.fr-tile__title a:before,
.fr-tile__title button:before,
.fr-tile__title:before {
  background-size: 0% !important;
}

/* Add box-shadow on the tile */
.fr-tile:not(.fr-tile--no-border):not(.fr-tile--shadow) {
  background-image: none !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Customises the colour of the current stepper */
.fr-stepper__steps {
  position: relative;
}

.fr-stepper__steps::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(
    (100% + var(--stepper-size)) * (var(--current-step) - 1) / var(--steps)
  );
  width: calc(
    (100% + var(--stepper-size)) / var(--steps) - var(--stepper-size)
  );
  height: var(--stepper-size);
  background-color: var(--background-action-high-blue-france-hover);
  pointer-events: none;
}
