/* Common footer management at the bottom for all layouts */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Connection page layout */
@media all and (min-width: 768px) and (max-width: 991px) {
  .layout-connexion .main-connexion {
    min-height: calc(100vh - 171.1px);
    display: flex;
    align-items: center;
  }
}

@media all and (min-width: 992px) {
  .layout-connexion .main-connexion {
    min-height: calc(100vh - 84.5px);
    display: flex;
    align-items: center;
  }
}

/* dashboard layout container */
.dashboard-container nav {
  grid-area: nav;
}

.dashboard-container .dashboard-content {
  grid-area: content;
}

.dashboard-container {
  max-width: 78rem;
  padding: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: "nav content";
}

@media (max-width: 62em) {
  .dashboard-container {
    padding: 1rem;
  }
}

@media all and (max-width: 768px) {
  .dashboard-container {
    padding-top: 0;
    grid-template-columns: 100%;
    grid-template-areas:
      "nav"
      "content";
  }

  .dashboard-container .dashboard-content {
    margin-top: 1rem;
  }
}

.card-button-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.centered-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
