openapi: 3.1.0
info:
  title: Sirene API
  description: Documentation de l'API Sirene
  version: "3.11"
servers:
  - url: https://api.insee.fr/api-sirene/prive/3.11
tags:
  - name: UniteLegale
    description: APIs des unités légales
  - name: Etablissement
    description: APIs des établissements
  - name: Informations
    description: APIs des informations (état des données)
paths:
  /siren:
    get:
      tags:
        - UniteLegale
      summary: Recherche multicritère d'unités légales
      operationId: findByGetUniteLegale
      parameters:
        - name: q
          in: query
          description:
            "Contenu de la requête multicritères, voir la documentation pour\
            \ plus de précisions"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: date
          in: query
          description: Date Ã  laquelle on veut obtenir les valeurs des données historisées
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: AAAA-MM-JJ
        - name: champs
          in: query
          description: "Liste des champs demandés, séparés par des virgules"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: masquerValeursNulles
          in: query
          description:
            "Masque (true) ou affiche (false, par défaut) les attributs qui\
            \ n'ont pas de valeur"
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: facette.champ
          in: query
          description:
            "Liste des champs sur lesquels des comptages seront effectué\
            s, séparés par des virgules"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: tri
          in: query
          description:
            "Champs sur lesquels des tris seront effectués, séparés par des\
            \ virgules. Tri sur siren par défaut"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: nombre
          in: query
          description: "Nombre d'éléments demandés dans la réponse, défaut 20"
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            maximum: 200000
            minimum: 0
        - name: debut
          in: query
          description: "Rang du premier élément demandé dans la réponse, défaut 0"
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            maximum: 10000
            minimum: 0
        - name: curseur
          in: query
          description:
            "Paramètre utilisé pour la pagination profonde, voir la documentation\
            \ pour plus de précisions"
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Requête traitée avec succès
          content:
            application/json;charset=utf-8;qs=1:
              schema:
                $ref: "#/components/schemas/ReponseUnitesLegales"
            text/csv;charset=utf-8;qs=0.9: {}
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "404":
          description:
            "Entreprise non trouvée dans la base Sirene (si le paramètre\
            \ date n'a pas été utilisé, cela peut signifier que le numéro de 9 chiffres\
            \ ne correspond pas Ã  un Siren présent dans la base ; si le paramètre\
            \ a été utilisé, le Siren peut exister mais la date de création est posté\
            rieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "414":
          description: Requête trop longue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
    post:
      tags:
        - UniteLegale
      summary: Recherche multicritère d'unités légales
      operationId: findByPostUniteLegale
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UniteLegalePostMultiCriteres"
      responses:
        "200":
          description: Requête traitée avec succès
          content:
            application/json;charset=utf-8;qs=1:
              schema:
                $ref: "#/components/schemas/ReponseUnitesLegales"
            text/csv;charset=utf-8;qs=0.9: {}
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "404":
          description:
            "Entreprise non trouvée dans la base Sirene (si le paramètre\
            \ date n'a pas été utilisé, cela peut signifier que le numéro de 9 chiffres\
            \ ne correspond pas Ã  un Siren présent dans la base ; si le paramètre\
            \ a été utilisé, le Siren peut exister mais la date de création est posté\
            rieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "414":
          description: Requête trop longue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
  /siren/{siren}:
    get:
      tags:
        - UniteLegale
      summary: Recherche d'une unité légale par son numéro Siren
      description: Recherche d'une unité légale par son numéro Siren (9 chiffres)
      operationId: findBySiren
      parameters:
        - name: siren
          in: path
          description: Identifiant de l'unité légale (9 chiffres)
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: date
          in: query
          description: Date Ã  laquelle on veut obtenir les valeurs des données historisées
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: AAAA-MM-JJ
        - name: champs
          in: query
          description: "Liste des champs demandés, séparés par des virgules"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: masquerValeursNulles
          in: query
          description:
            "Masque (true) ou affiche (false, par défaut) les attributs qui\
            \ n'ont pas de valeur"
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          description: Unité légale trouvée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseUniteLegale"
        "301":
          description: Unité légale fermée pour cause de doublon
          content:
            application/json;charset=utf-8;qs=1:
              schema:
                type: string
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "403":
          description: Droits insuffisants pour consulter les données de cette unité
          content:
            application/json: {}
        "404":
          description:
            "Entreprise non trouvée dans la base Sirene (si le paramètre\
            \ date n'a pas été utilisé, cela peut signifier que le numéro de 9 chiffres\
            \ ne correspond pas Ã  un Siren présent dans la base ; si le paramètre\
            \ a été utilisé, le Siren peut exister mais la date de création est posté\
            rieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
  /siret:
    get:
      tags:
        - Etablissement
      summary: Recherche multicritère d'établissements
      operationId: findByGetEtablissement
      parameters:
        - name: q
          in: query
          description:
            "Contenu de la requête multicritères, voir la documentation pour\
            \ plus de précisions"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: date
          in: query
          description: Date Ã  laquelle on veut obtenir les valeurs des données historisées
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: champs
          in: query
          description: "Liste des champs demandés, séparés par des virgules"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: masquerValeursNulles
          in: query
          description:
            "Masque (true) ou affiche (false, par défaut) les attributs qui\
            \ n'ont pas de valeur"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: facette.champ
          in: query
          description:
            "Liste des champs sur lesquels des comptages seront effectué\
            s, séparés par des virgules"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: tri
          in: query
          description:
            "Champs sur lesquels des tris seront effectués, séparés par des\
            \ virgules. Tri sur siren par défaut"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: nombre
          in: query
          description: "Nombre d'éléments demandés dans la réponse, défaut 20"
          required: false
          style: form
          explode: true
          schema:
            type: string
            maximum: 200000
            minimum: 0
        - name: debut
          in: query
          description: "Rang du premier élément demandé dans la réponse, défaut 0"
          required: false
          style: form
          explode: true
          schema:
            type: string
            maximum: 10000
            minimum: 0
        - name: curseur
          in: query
          description:
            "Paramètre utilisé pour la pagination profonde, voir la documentation\
            \ pour plus de précisions"
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json;charset=utf-8;qs=1:
              schema:
                $ref: "#/components/schemas/ReponseEtablissements"
            text/csv;charset=utf-8;qs=0.9: {}
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "404":
          description:
            "Etablissement non trouvé dans la base Sirene (si le paramè\
            tre date n'a pas été utilisé, cela peut signifier que le numéro de 14\
            \ chiffres ne correspond pas Ã  un Siret présent dans la base ; si le paramè\
            tre date a été utilisé, le Siret peut exister mais la date de création\
            \ est postérieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "414":
          description: Requête trop longue
          content:
            application/json: {}
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
    post:
      tags:
        - Etablissement
      summary: Recherche multicritère d'établissements
      operationId: findByPostEtablissement
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/EtablissementPostMultiCriteres"
      responses:
        "200":
          description: OK
          content:
            application/json;charset=utf-8;qs=1:
              schema:
                $ref: "#/components/schemas/ReponseEtablissements"
            text/csv;charset=utf-8;qs=0.9: {}
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "404":
          description:
            "Etablissement non trouvé dans la base Sirene (si le paramè\
            tre date n'a pas été utilisé, cela peut signifier que le numéro de 14\
            \ chiffres ne correspond pas Ã  un Siret présent dans la base ; si le paramè\
            tre date a été utilisé, le Siret peut exister mais la date de création\
            \ est postérieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "414":
          description: Requête trop longue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
  /siret/{siret}:
    get:
      tags:
        - Etablissement
      summary: Recherche d'un établissement par son numéro Siret
      description: Recherche d'un établissement par son numéro Siret (14 chiffres)
      operationId: findBySiret
      parameters:
        - name: siret
          in: path
          description: Identifiant de l'établissement (14 chiffres)
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: date
          in: query
          description: Date Ã  laquelle on veut obtenir les valeurs des données historisées
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: AAAA-MM-JJ
        - name: champs
          in: query
          description: "Liste des champs demandés, séparés par des virgules"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: masquerValeursNulles
          in: query
          description:
            "Masque (true) ou affiche (false, par défaut) les attributs qui\
            \ n'ont pas de valeur"
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Ã‰tablissement trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseEtablissement"
        "301":
          description: Ã‰tablissement d'une unité légale fermée pour cause de doublon
          content:
            application/json: {}
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "403":
          description: Droits insuffisants pour consulter les données de cette unité
          content:
            application/json: {}
        "404":
          description:
            "Etablissement non trouvé dans la base Sirene (si le paramè\
            tre date n'a pas été utilisé, cela peut signifier que le numéro de 14\
            \ chiffres ne correspond pas Ã  un Siret présent dans la base ; si le paramè\
            tre date a été utilisé, le Siret peut exister mais la date de création\
            \ est postérieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
  /siret/liensSuccession:
    get:
      tags:
        - Etablissement
      summary: Recherche multicritère sur les liens de succession
      operationId: findLienSuccession
      parameters:
        - name: q
          in: query
          description:
            "Contenu de la requête multicritères, voir la documentation pour\
            \ plus de précisions"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: tri
          in: query
          description:
            Permet de trier sur la variable siretEtablissementSuccesseur
            au lieu de siretEtablissementPredecesseur
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - successeur
        - name: nombre
          in: query
          description: "Nombre d'éléments demandés dans la réponse, défaut 20"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: debut
          in: query
          description: "Rang du premier élément demandé dans la réponse, défaut 0"
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: curseur
          in: query
          description:
            "Paramètre utilisé pour la pagination profonde, voir la documentation\
            \ pour plus de précisions"
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json;charset=utf-8;qs=1:
              schema:
                $ref: "#/components/schemas/ReponseLienSuccession"
            text/csv;charset=utf-8;qs=0.9: {}
        "400":
          description: Nombre incorrect de paramètres ou les paramètres sont mal formatés
          content:
            application/json: {}
        "401":
          description: Jeton d'accès manquant ou invalide
          content:
            application/json: {}
        "404":
          description:
            "Etablissement non trouvé dans la base Sirene (si le paramè\
            tre date n'a pas été utilisé, cela peut signifier que le numéro de 14\
            \ chiffres ne correspond pas Ã  un Siret présent dans la base ; si le paramè\
            tre date a été utilisé, le Siret peut exister mais la date de création\
            \ est postérieure au paramètre date)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "406":
          description:
            Le paramètre 'Accept' de l'en-tête HTTP contient une valeur
            non prévue
          content:
            application/json: {}
        "429":
          description: Quota d'interrogations de l'API dépassé
          content:
            application/json: {}
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
  /informations:
    get:
      tags:
        - Informations
      summary: "Ã‰tat du service, dates de mise Ã  jour et numéro de version"
      operationId: informations
      responses:
        "200":
          description: Requête traitée avec succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseInformations"
        "503":
          description: Service indisponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReponseErreur"
      security:
        - OAuth2Auth: []
components:
  schemas:
    Adresse:
      type: object
      description: Ensemble des variables d'adresse d'un établissement
      properties:
        complementAdresseEtablissement:
          type: string
          description: Complément d'adresse de l'établissement
        numeroVoieEtablissement:
          type: string
          description: Numéro dans la voie
        indiceRepetitionEtablissement:
          type: string
          description: Indice de répétition dans la voie
        dernierNumeroVoieEtablissement:
          type: string
          description: Numéro de la dernière adresse dans la voie
        indiceRepetitionDernierNumeroVoieEtablissement:
          type: string
          description: Indice de répétition de la dernière adresse dans la voie
        typeVoieEtablissement:
          type: string
          description: Type de la voie
        libelleVoieEtablissement:
          type: string
          description: Libellé de la voie
        codePostalEtablissement:
          type: string
          description: Code postal
        libelleCommuneEtablissement:
          type: string
          description: Libellé de la commune pour les adresses en France
        libelleCommuneEtrangerEtablissement:
          type: string
          description: Libellé complémentaire pour une adresse Ã  l'étranger
        distributionSpecialeEtablissement:
          type: string
          description: Distribution spéciale (BP par ex)
        codeCommuneEtablissement:
          type: string
          description:
            Code commune de localisation de lâ€™établissement hors établissements
            situés Ã  lâ€™étranger (Le code commune est défini dans le <a href='https://www.insee.fr/fr/information/2028028'>code
            officiel géographique (COG)</a>)
        codeCedexEtablissement:
          type: string
          description: Numéro de Cedex
        libelleCedexEtablissement:
          type: string
          description: Libellé correspondant au numéro de Cedex (variable codeCedexEtablissement)
        codePaysEtrangerEtablissement:
          type: string
          description: Code pays pour les établissements situés Ã  lâ€™étranger
        libellePaysEtrangerEtablissement:
          type: string
          description: Libellé du pays pour les adresses Ã  lâ€™étranger
        identifiantAdresseEtablissement:
          type: string
          description: IdentifiantAdresseEtablissement
        coordonneeLambertAbscisseEtablissement:
          type: string
          description: coordonneeLambertAbscisseEtablissement
        coordonneeLambertOrdonneeEtablissement:
          type: string
          description: coordonneeLambertOrdonneeEtablissement
    AdresseComplementaire:
      type: object
      description: Ensemble des variables d'adresse complémentaire d'un établissement
      properties:
        complementAdresse2Etablissement:
          type: string
          description: Complément d'adresse de l'établissement
        numeroVoie2Etablissement:
          type: string
          description: Numéro dans la voie
        indiceRepetition2Etablissement:
          type: string
          description: Indice de répétition dans la voie
        typeVoie2Etablissement:
          type: string
          description: Type de la voie
        libelleVoie2Etablissement:
          type: string
          description: Libellé de la voie
        codePostal2Etablissement:
          type: string
          description: Code postal
        libelleCommune2Etablissement:
          type: string
          description: Libellé de la commune pour les adresses en France
        libelleCommuneEtranger2Etablissement:
          type: string
          description: Libellé complémentaire pour une adresse Ã  l'étranger
        distributionSpeciale2Etablissement:
          type: string
          description: Distribution spéciale (BP par ex)
        codeCommune2Etablissement:
          type: string
          description:
            Code commune de localisation de lâ€™établissement hors établissements
            situés Ã  lâ€™étranger (Le code commune est défini dans le <a href='https://www.insee.fr/fr/information/2028028'>code
            officiel géographique (COG)</a>)
        codeCedex2Etablissement:
          type: string
          description: Numéro de Cedex
        libelleCedex2Etablissement:
          type: string
          description: Libellé correspondant au numéro de Cedex (variable codeCedexEtablissement)
        codePaysEtranger2Etablissement:
          type: string
          description: Code pays pour les établissements situés Ã  lâ€™étranger
        libellePaysEtranger2Etablissement:
          type: string
          description: Libellé du pays pour les adresses Ã  lâ€™étranger
    Comptage:
      type: object
      description:
        Objet représentant un comptage particulier Ã  l'intérieur d'une
        facette
      properties:
        valeur:
          type: object
          description: Modalité comptée
        nombre:
          type: integer
          format: int64
          description: Nombre d'éléments correspondant Ã  la modalité comptée
    Etablissement:
      type: object
      description: Objet représentant un établissement et son historique
      properties:
        score:
          type: number
          format: float
          description:
            "Score de l'élément parmi l'ensemble des éléments répondant\
            \ Ã  la requête, plus le score est élevé, plus l'élément est haut placé\
            . Le score n'a pas de signification en dehors de la requête et n'est pas\
            \ comparable aux score d'autres requêtes"
        siren:
          type: string
          description: Numéro Siren de l'entreprise Ã  laquelle appartient l'établissement
        nic:
          type: string
          description: Numéro interne de classement de l'établissement
        siret:
          type: string
          description: Numéro Siret de lâ€™établissement (toujours renseigné)
        statutDiffusionEtablissement:
          type: string
          description: Statut de diffusion de l'établissement
        dateCreationEtablissement:
          type: string
          format: date
          description: "Date de création de l'établissement, format AAAA-MM-JJ"
        trancheEffectifsEtablissement:
          type: string
          description:
            "Tranche dâ€™effectif salarié de lâ€™établissement, valorisée uniquement\
            \ si lâ€™année correspondante est supérieure ou égale Ã  lâ€™année dâ€™interrogation\
            \ -3 (sinon, NN)"
        anneeEffectifsEtablissement:
          type: string
          description:
            "Année de la tranche dâ€™effectif salarié de lâ€™établissement,\
            \ valorisée uniquement si l'année est supérieure ou égale Ã  lâ€™année dâ€™\
            interrogation -3 (sinon, null)"
        activitePrincipaleRegistreMetiersEtablissement:
          type: string
          description:
            Code de lâ€™activité exercée par lâ€™artisan inscrit au registre
            des métiers. Lâ€™APRM est codifiée selon la nomenclature dâ€™Activités FranÃ§aise
            de lâ€™Artisanat (NAFA)
        dateDernierTraitementEtablissement:
          type: string
          format: date-time
          description:
            Date de la dernière mise Ã  jour effectuée au répertoire Sirene
            sur le Siret concerné (yyyy-MM-ddTHH:mm:ss.SSS)
          example: 2025-05-10T15:18:50.255
        etablissementSiege:
          type: boolean
          description:
            Indicatrice précisant si le Siret est celui de lâ€™établissement
            siège ou non
        nombrePeriodesEtablissement:
          type: integer
          format: int32
          description: Nombre de périodes dans la vie de l'établissement
        uniteLegale:
          $ref: "#/components/schemas/UniteLegaleEtablissement"
        adresseEtablissement:
          $ref: "#/components/schemas/Adresse"
        adresse2Etablissement:
          $ref: "#/components/schemas/AdresseComplementaire"
        periodesEtablissement:
          type: array
          items:
            $ref: "#/components/schemas/PeriodeEtablissement"
    Facette:
      type: object
      description:
        "Objet représentant une facette (un ensemble de comptages selon\
        \ un champ, une requête ou une série d'intervalles)"
      properties:
        nom:
          type: string
          description: Nom de la facette
        manquants:
          type: integer
          format: int32
          description: Nombre d'éléments pour lesquels la facette vaut null
        total:
          type: integer
          format: int64
          description:
            Nombre total d'éléments ayant une valeur non nulle pour la
            facette
        modalites:
          type: integer
          format: int32
          description: Nombre de valeurs distinctes pour la facette
        avant:
          type: integer
          format: int32
          description:
            "Nombre d'éléments dont la valeur est inférieure au premier\
            \ intervalle, uniquement pour les facettes de type intervalle"
        apres:
          type: integer
          format: int32
          description:
            "Nombre d'éléments dont la valeur est supérieure au dernier\
            \ intervalle, uniquement pour les facettes de type intervalle"
        entre:
          type: integer
          format: int32
          description:
            "Nombre d'élements compris entre la borne inférieure du premier\
            \ intervalle et la borne supérieure du dernier intervalle, uniquement\
            \ pour les facettes de type intervalle"
        comptages:
          type: array
          items:
            $ref: "#/components/schemas/Comptage"
    Header:
      type: object
      description: Informations générales sur le résultat de la requête
      properties:
        statut:
          type: integer
          format: int32
          description: Ã‰gal au status de la réponse HTTP
          example: 200
        message:
          type: string
          description:
            "En cas d'erreur, message indiquant la cause de l'erreur. OK\
            \ sinon"
          example: OK
        total:
          type: integer
          format: int64
          description: Nombre total des éléments répondant Ã  la requête
        debut:
          type: integer
          format: int64
          description: "Numéro du premier élément fourni, défaut Ã  0, commence Ã  0"
        nombre:
          type: integer
          format: int64
          description: "Nombre d'éléments fournis, défaut Ã  20"
        curseur:
          type: string
          description:
            "Curseur passé en argument dans la requête de l'utilisateur,\
            \ utilisé pour la pagination profonde"
        curseurSuivant:
          type: string
          description:
            Curseur suivant pour accéder Ã  la suite des résultat lorsqu'on
            utilise la pagination profonde
    PeriodeEtablissement:
      type: object
      description:
        Ensemble des variables historisées de l'établissement entre dateDebut
        et dateFin
      properties:
        dateFin:
          type: string
          format: date
          $comment:
            Null pour la période contenant les valeurs courantes de l'entreprise
            pour toutes les variables
          description:
            "Date de fin de la période, null pour la dernière période,\
            \ format AAAA-MM-DD"
        dateDebut:
          type: string
          format: date
          description: "Date de début de la période, format AAAA-MM-DD"
        etatAdministratifEtablissement:
          type: string
          description:
            Ã‰tat administratif de l'établissement pendant la période (A=
            établissement actif; F= établissement fermé)
        changementEtatAdministratifEtablissement:
          type: boolean
          description:
            Indicatrice de changement de l'état administratif de l'établissement
            par rapport Ã  la période précédente
        enseigne1Etablissement:
          type: string
          description: Première ligne d'enseigne
        enseigne2Etablissement:
          type: string
          description: Deuxième ligne d'enseigne
        enseigne3Etablissement:
          type: string
          description: Troisième ligne d'enseigne
        changementEnseigneEtablissement:
          type: boolean
          description:
            "Indicatrice de changement de l'enseigne de l'établissement\
            \ par rapport Ã  la période précédente (un seul indicateur pour les trois\
            \ variables Enseigne1, Enseigne2 et Enseigne3). Un seul indicateur pour\
            \ les trois variables enseigne"
        denominationUsuelleEtablissement:
          type: string
          description:
            "Nom sous lequel lâ€™activité de lâ€™établissement est connu du
            public "
        changementDenominationUsuelleEtablissement:
          type: boolean
          description:
            Indicatrice de changement de la dénomination usuelle de lâ€™établissement
            par rapport Ã  la période précédente
        activitePrincipaleEtablissement:
          type: string
          description:
            Activité principale de l'établissement pendant la période (l'APE
            est codifiée selon la <a href='https://www.insee.fr/fr/information/2406147'>nomenclature
            d'Activités FranÃ§aise (NAF)</a>
        nomenclatureActivitePrincipaleEtablissement:
          type: string
          description:
            "Nomenclature de l'activité, permet de savoir Ã  partir de quelle\
            \ nomenclature est codifiée ActivitePrincipaleEtablissement"
          enum:
            - "NAP,NAFRev1,NAFRev2,NAF1993"
        changementActivitePrincipaleEtablissement:
          type: boolean
          description:
            Indicatrice de changement de l'activité principale de l'établissement
            par rapport Ã  la période précédente
        caractereEmployeurEtablissement:
          type: string
          description:
            "Caractère employeur de l'établissement (O=oui, N=non, null=sans\
            \ objet)"
        changementCaractereEmployeurEtablissement:
          type: boolean
          description:
            Indicatrice de changement du caractère employeur de l'établissement
            par rapport Ã  la période précédente
    ReponseEtablissements:
      type: object
      description: Objet renvoyé en cas de succès sur une requête demandant des établissements
      properties:
        header:
          $ref: "#/components/schemas/Header"
        etablissements:
          type: array
          items:
            $ref: "#/components/schemas/Etablissement"
        facettes:
          type: array
          items:
            $ref: "#/components/schemas/Facette"
    UniteLegaleEtablissement:
      type: object
      description: Objet représentant les valeurs courante de l'unité légale de l'établissement
      properties:
        statutDiffusionUniteLegale:
          type: string
          description: Statut de diffusion de lâ€™unité légale
          example: O
        unitePurgeeUniteLegale:
          type: boolean
          description: True si l'unité est une unité purgée
        dateCreationUniteLegale:
          type: string
          format: date
          description: Date de création de l'unité légale
          example: AAAA-MM-JJ
          examples:
            - 1955-01-01
        dateNaissanceUniteLegale:
          type: string
          description:
            Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de la
            Commission nationale de lâ€™informatique et des libertés. Date de naissance
            pour la personne physique sinon null
        codeCommuneNaissanceUniteLegale:
          type: string
          description:
            "Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de\
            \ la Commission nationale de lâ€™informatique et des libertés. Code commune\
            \ de naissance pour les personnes physiques, null pour les personnes morales\
            \ et les personnes physiques nées Ã  lâ€™étranger"
        codePaysNaissanceUniteLegale:
          type: string
          description:
            "Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de\
            \ la Commission nationale de lâ€™informatique et des libertés. Code pays\
            \ de naissance pour les personnes physiques nées Ã  lâ€™étranger, null sinon"
        libelleNationaliteUniteLegale:
          type: string
          description:
            Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de la
            Commission nationale de lâ€™informatique et des libertés. Nationalité pour
            les personnes physiques
        identifiantAssociationUniteLegale:
          type: string
          description: Numéro au Répertoire National des Associations
        trancheEffectifsUniteLegale:
          type: string
          description:
            "Tranche d'effectif salarié de l'unité légale, valorisé uniquement\
            \ si l'année correspondante est supérieure ou égale Ã  l'année d'interrogation-3\
            \ (sinon, NN)"
        anneeEffectifsUniteLegale:
          type: string
          description:
            "Année de validité de la tranche d'effectif salarié de l'unité\
            \ légale, valorisée uniquement si l'année est supérieure ou égale Ã  l'anné\
            e d'interrogation-3 (sinon, null)"
        dateDernierTraitementUniteLegale:
          type: string
          format: AAAA-MM-JJTHH:MM:SS
          description:
            Date de la dernière mise Ã  jour effectuée au répertoire Sirene
            sur le Siren concerné
        categorieEntreprise:
          type: string
          description:
            "Catégorie Ã  laquelle appartient l'entreprise : Petite ou moyenne\
            \ entreprise, Entreprise de taille intermédiaire, Grande entreprise"
          enum:
            - "PME,ETI,GE,null"
        anneeCategorieEntreprise:
          type: string
          description: Année de validité de la catégorie d'entreprise
        sigleUniteLegale:
          type: string
          description: Sigle de l'unité légale
        sexeUniteLegale:
          type: string
          description: Sexe pour les personnes physiques sinon null
          enum:
            - "M,F,null"
        prenom1UniteLegale:
          type: string
          description:
            "Premier prénom déclaré pour une personne physique, peut ê\
            tre null dans le cas d'une unité purgée"
        prenom2UniteLegale:
          type: string
          description: Deuxième prénom déclaré pour une personne physique
        prenom3UniteLegale:
          type: string
          description: Troisième prénom déclaré pour une personne physique
        prenom4UniteLegale:
          type: string
          description: Quatrième prénom déclaré pour une personne physique
        prenomUsuelUniteLegale:
          type: string
          description:
            "Prénom usuel pour les personne physiques, correspond géné\
            ralement au Prenom1"
        pseudonymeUniteLegale:
          type: string
          description: Pseudonyme pour les personnes physiques
        etatAdministratifUniteLegale:
          type: string
          $comment: "A= entreprise active, C= entreprise cessée"
          description:
            "Ã‰tat de l'entreprise pendant la période (A= entreprise active,\
            \ C= entreprise cessée)"
          enum:
            - "A,C"
        nomUniteLegale:
          type: string
          $comment: Null pour les personnes morales
          description:
            Nom de naissance pour les personnes physiques pour la période
            (null pour les personnes morales)
        denominationUniteLegale:
          type: string
          $comment: Null pour les personnes physiques
          description: Raison sociale (personnes morales)
        denominationUsuelle1UniteLegale:
          type: string
          description: Premier nom sous lequel lâ€™entreprise est connue du public
        denominationUsuelle2UniteLegale:
          type: string
          description: Deuxième nom sous lequel lâ€™entreprise est connue du public
        denominationUsuelle3UniteLegale:
          type: string
          description: Troisième nom sous lequel lâ€™entreprise est connue du public
        activitePrincipaleUniteLegale:
          type: string
          $comment:
            L'APE est codifiée selon la <a href='https://www.insee.fr/fr/information/2406147'>nomenclature
            d'Activités FranÃ§aise (NAF)</a>
          description:
            Activité principale de l'entreprise pendant la période (l'APE
            est codifiée selon la <a href='https://www.insee.fr/fr/information/2406147'>nomenclature
            d'Activités FranÃ§aise (NAF)</a>
        categorieJuridiqueUniteLegale:
          type: string
          description:
            Catégorie juridique de lâ€™entreprise (=1000 pour les personnes
            physiques)
        nicSiegeUniteLegale:
          type: string
          $comment:
            Le Siret du siège est obtenu en concaténant le numéro Siren et
            le NIC
          description:
            Identifiant du siège pour la période (le Siret du siège est
            obtenu en concaténant le numéro Siren et le NIC)
        nomenclatureActivitePrincipaleUniteLegale:
          type: string
          description:
            "Nomenclature de l'activité, permet de savoir Ã  partir de quelle\
            \ nomenclature est codifiée ActivitePrincipale"
          enum:
            - "NAP,NAFRev1,NAFRev2,NAF1993"
        nomUsageUniteLegale:
          type: string
          description: Nom dâ€™usage pour les personnes physiques sinon null
        economieSocialeSolidaireUniteLegale:
          type: string
          description:
            Appartenance de lâ€™unité légale au champ de lâ€™économie sociale
            et solidaire (ESS)
        societeMissionUniteLegale:
          type: string
          description: Appartenance de lâ€™unité légale au champ societé Ã  mission
        caractereEmployeurUniteLegale:
          type: string
          description:
            Caractère employeur de l'entreprise. Valeur courante=O si au
            moins l'un des établissements actifs de l'unité légale emploie des salariés
          enum:
            - "O,N,null"
    ReponseErreur:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/Header"
    EtablissementPostMultiCriteres:
      type: object
      properties:
        q:
          type: string
          default: ""
          description:
            "Contenu de la requête multicritères, voir la documentation\
            \ pour plus de précisions"
        date:
          type: string
          format: AAAA-MM-JJ
          default: ""
          description: Date Ã  laquelle on veut obtenir les valeurs des données historisées
        champs:
          type: string
          default: ""
          description: "Liste des champs demandés, séparés par des virgules"
        nombre:
          type: integer
          format: int32
          default: "20"
          description: "Nombre d'éléments demandés dans la réponse, défaut 20"
        debut:
          type: integer
          format: int32
          default: "0"
          description: "Rang du premier élément demandé dans la réponse, défaut 0"
        masquerValeursNulles:
          type: boolean
          description:
            "Masque (true) ou affiche (false, par défaut) les attributs\
            \ qui n'ont pas de valeur"
        tri:
          type: string
          default: ""
          description:
            "Champs sur lesquels des tris seront effectués, séparés par\
            \ des virgules. Tri sur siren par défaut"
        curseur:
          type: string
          default: ""
          description:
            "Paramètre utilisé pour la pagination profonde, voir la documentation\
            \ pour plus de précisions"
        facette.champ:
          type: string
          default: ""
          description:
            "Liste des champs sur lesquels des comptages seront effectué\
            s, séparés par des virgules"
    PeriodeUniteLegale:
      type: object
      properties:
        dateFin:
          type: string
          format: date
          $comment:
            Null pour la période contenant les valeurs courantes de l'entreprise
            pour toutes les variables
          description:
            "Date de fin de la période, null pour la dernière période,\
            \ format AAAA-MM-DD"
        dateDebut:
          type: string
          format: date
          description: "Date de début de la période, format AAAA-MM-DD"
        etatAdministratifUniteLegale:
          type: string
          $comment: "A= entreprise active, C= entreprise cessée"
          description:
            "Ã‰tat de l'entreprise pendant la période (A= entreprise active,\
            \ C= entreprise cessée)"
          enum:
            - "A,C"
        changementEtatAdministratifUniteLegale:
          type: boolean
          description: Indicatrice de changement d'état par rapport Ã  la période précédente
        nomUniteLegale:
          type: string
          $comment: Null pour les personnes morales
          description:
            Nom de naissance pour les personnes physiques pour la période
            (null pour les personnes morales)
        changementNomUniteLegale:
          type: boolean
          description: Indicatrice de changement du nom par rapport Ã  la période précédente
        nomUsageUniteLegale:
          type: string
          description:
            "Nom dâ€™usage pour les personnes physiques si celui-ci existe,\
            \ null pour les personnes morales"
        changementNomUsageUniteLegale:
          type: boolean
          description:
            Indicatrice de changement du nom d'usage par rapport Ã  la période
            précédente
        denominationUniteLegale:
          type: string
          $comment: Null pour les personnes physiques
          description: Raison sociale (personnes morales)
        changementDenominationUniteLegale:
          type: boolean
          description:
            Indicatrice de changement de la dénomination par rapport Ã
            la période précédente
        denominationUsuelle1UniteLegale:
          type: string
          description: Premier nom sous lequel lâ€™entreprise est connue du public
        denominationUsuelle2UniteLegale:
          type: string
          description: Deuxième nom sous lequel lâ€™entreprise est connue du public
        denominationUsuelle3UniteLegale:
          type: string
          description: Troisième nom sous lequel lâ€™entreprise est connue du public
        categorieJuridiqueUniteLegale:
          type: string
          $comment:
            Variable Null pour les personnes physiques. (<a href='https://www.insee.fr/fr/information/2028129'>lien
            vers insee.fr</a>)
          description:
            Catégorie juridique de l'entreprise (variable Null pour les
            personnes physiques. (<a href='https://www.insee.fr/fr/information/2028129'>la
            nomenclature sur insee.fr</a>))
        changementCategorieJuridiqueUniteLegale:
          type: boolean
          $comment:
            Toujours Ã  false pour les personnes physiques sauf pour la première
            période Ã  true par défaut
          description:
            Indicatrice de changement de la catégorie juridique par rapport
            Ã  la période précédente
        activitePrincipaleUniteLegale:
          type: string
          $comment:
            L'APE est codifiée selon la <a href='https://www.insee.fr/fr/information/2406147'>nomenclature
            d'Activités FranÃ§aise (NAF)</a>
          description:
            Activité principale de l'entreprise pendant la période (l'APE
            est codifiée selon la <a href='https://www.insee.fr/fr/information/2406147'>nomenclature
            d'Activités FranÃ§aise (NAF)</a>
        nomenclatureActivitePrincipaleUniteLegale:
          type: string
          description:
            "Nomenclature de l'activité, permet de savoir Ã  partir de quelle\
            \ nomenclature est codifiée ActivitePrincipale"
          enum:
            - "NAP,NAFRev1,NAFRev2,NAF1993"
        changementActivitePrincipaleUniteLegale:
          type: boolean
          description:
            Indicatrice de changement de l'activité principale par rapport
            Ã  la période précédente
        nicSiegeUniteLegale:
          type: string
          $comment:
            Le Siret du siège est obtenu en concaténant le numéro Siren et
            le Nic
          description:
            Identifiant du siège pour la période (le Siret du siège est
            obtenu en concaténant le numéro Siren et le Nic)
        changementNicSiegeUniteLegale:
          type: boolean
          description:
            Indicatrice de changement du NIC du siège par rapport Ã  la
            période précédente
        economieSocialeSolidaireUniteLegale:
          type: string
          description:
            Appartenance de lâ€™unité légale au champ de lâ€™économie sociale
            et solidaire (ESS)
        changementEconomieSocialeSolidaireUniteLegale:
          type: boolean
          description:
            Indicatrice de changement de l'ESS par rapport Ã  la période
            précédente
        societeMissionUniteLegale:
          type: string
          description: Appartenance de lâ€™unité légale au champ société Ã  mission (SM)
        changementSocieteMissionUniteLegale:
          type: boolean
          description:
            Indicatrice de changement du champ société Ã  mission par rapport
            Ã  la période précédente
        caractereEmployeurUniteLegale:
          type: string
          description:
            Caractère employeur de l'entreprise. Valeur courante=O si au
            moins l'un des établissements actifs de l'unité légale emploie des salariés
          enum:
            - "O,N,null"
        changementCaractereEmployeurUniteLegale:
          type: boolean
          description:
            Indicatrice de changement du caractère employeur par rapport
            Ã  la période précédente
        changementDenominationUsuelleUniteLegale:
          type: boolean
          description:
            Indicatrice de changement de la dénomination par rapport Ã
            la période précédente
    ReponseUnitesLegales:
      type: object
      description:
        Objet renvoyé en cas de succès sur une requête demandant des unités
        légales
      properties:
        header:
          $ref: "#/components/schemas/Header"
        unitesLegales:
          type: array
          items:
            $ref: "#/components/schemas/UniteLegale"
        facettes:
          type: array
          items:
            $ref: "#/components/schemas/Facette"
    UniteLegale:
      type: object
      properties:
        score:
          type: number
          format: float
          description:
            "Score de l'élément parmi l'ensemble des éléments répondant\
            \ Ã  la requête, plus le score est élevé, plus l'élément est haut placé\
            . Le score n'a pas de signification en dehors de la requête et n'est pas\
            \ comparable aux score d'autres requêtes"
        siren:
          type: string
          description: "Numéro Siren de l'entreprise, toujours renseigné"
          example: "005520135"
        statutDiffusionUniteLegale:
          type: string
          description: Statut de diffusion de lâ€™unité légale
          example: O
        unitePurgeeUniteLegale:
          type: boolean
          description: True si l'unité est une unité purgée
        dateCreationUniteLegale:
          type: string
          format: date
          description: Date de création de l'unité légale
          example: AAAA-MM-JJ
          examples:
            - 1955-01-01
        dateNaissanceUniteLegale:
          type: string
          description:
            Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de la
            Commission nationale de lâ€™informatique et des libertés. Date de naissance
            pour la personne physique sinon null
        codeCommuneNaissanceUniteLegale:
          type: string
          description:
            "Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de\
            \ la Commission nationale de lâ€™informatique et des libertés. Code commune\
            \ de naissance pour les personnes physiques, null pour les personnes morales\
            \ et les personnes physiques nées Ã  lâ€™étranger"
        codePaysNaissanceUniteLegale:
          type: string
          description:
            "Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de\
            \ la Commission nationale de lâ€™informatique et des libertés. Code pays\
            \ de naissance pour les personnes physiques nées Ã  lâ€™étranger, null sinon"
        libelleNationaliteUniteLegale:
          type: string
          description:
            Lâ€™accès Ã  ces données est soumis Ã  une démarche auprès de la
            Commission nationale de lâ€™informatique et des libertés. Nationalité pour
            les personnes physiques
        identifiantAssociationUniteLegale:
          type: string
          description: Numéro au Répertoire National des Associations
        trancheEffectifsUniteLegale:
          type: string
          description:
            "Tranche d'effectif salarié de l'unité légale, valorisé uniquement\
            \ si l'année correspondante est supérieure ou égale Ã  l'année d'interrogation-3\
            \ (sinon, NN)"
        anneeEffectifsUniteLegale:
          type: string
          description:
            "Année de validité de la tranche d'effectif salarié de l'unité\
            \ légale, valorisée uniquement si l'année est supérieure ou égale Ã  l'anné\
            e d'interrogation-3 (sinon, null)"
        dateDernierTraitementUniteLegale:
          type: string
          format: AAAA-MM-JJTHH:MM:SS
          description:
            Date de la dernière mise Ã  jour effectuée au répertoire Sirene
            sur le Siren concerné
        nombrePeriodesUniteLegale:
          type: integer
          format: int32
          description: Nombre de périodes dans la vie de l'unité légale
        categorieEntreprise:
          type: string
          description:
            "Catégorie Ã  laquelle appartient l'entreprise : Petite ou moyenne\
            \ entreprise, Entreprise de taille intermédiaire, Grande entreprise"
          enum:
            - "PME,ETI,GE,null"
        anneeCategorieEntreprise:
          type: string
          description: Année de validité de la catégorie d'entreprise
        sigleUniteLegale:
          type: string
          description: Sigle de l'unité légale
        sexeUniteLegale:
          type: string
          description: Sexe pour les personnes physiques sinon null
          enum:
            - "M,F,null"
        prenom1UniteLegale:
          type: string
          description:
            "Premier prénom déclaré pour une personne physique, peut ê\
            tre null dans le cas d'une unité purgée"
        prenom2UniteLegale:
          type: string
          description: Deuxième prénom déclaré pour une personne physique
        prenom3UniteLegale:
          type: string
          description: Troisième prénom déclaré pour une personne physique
        prenom4UniteLegale:
          type: string
          description: Quatrième prénom déclaré pour une personne physique
        prenomUsuelUniteLegale:
          type: string
          description:
            "Prénom usuel pour les personne physiques, correspond géné\
            ralement au Prenom1"
        pseudonymeUniteLegale:
          type: string
          description: Pseudonyme pour les personnes physiques
        periodesUniteLegale:
          type: array
          items:
            $ref: "#/components/schemas/PeriodeUniteLegale"
    UniteLegalePostMultiCriteres:
      type: object
      properties:
        q:
          type: string
          default: ""
          description:
            "Contenu de la requête multicritères, voir la documentation\
            \ pour plus de précisions"
        date:
          type: string
          format: AAAA-MM-JJ
          default: ""
          description: Date Ã  laquelle on veut obtenir les valeurs des données historisées
        champs:
          type: string
          default: ""
          description: "Liste des champs demandés, séparés par des virgules"
        nombre:
          type: integer
          format: int32
          default: "20"
          description: "Nombre d'éléments demandés dans la réponse, défaut 20"
        debut:
          type: integer
          format: int32
          default: "0"
          description: "Rang du premier élément demandé dans la réponse, défaut 0"
        masquerValeursNulles:
          type: boolean
          description:
            "Masque (true) ou affiche (false, par défaut) les attributs\
            \ qui n'ont pas de valeur"
        tri:
          type: string
          default: ""
          description:
            "Champs sur lesquels des tris seront effectués, séparés par\
            \ des virgules. Tri sur siren par défaut"
        curseur:
          type: string
          default: ""
          description:
            "Paramètre utilisé pour la pagination profonde, voir la documentation\
            \ pour plus de précisions"
        facette.champ:
          type: string
          default: ""
          description:
            "Liste des champs sur lesquels des comptages seront effectué\
            s, séparés par des virgules"
    ReponseEtablissement:
      type: object
      description: Objet renvoyé en cas de succès sur une requête demandant un établissement
      properties:
        header:
          $ref: "#/components/schemas/Header"
        etablissement:
          $ref: "#/components/schemas/Etablissement"
    LienSuccession:
      type: object
      properties:
        siretEtablissementPredecesseur:
          type: string
          description: Numéro Siret de l'établissement prédécesseur
        siretEtablissementSuccesseur:
          type: string
          description: Numéro Siret de l'établissement successeur
        dateLienSuccession:
          type: string
          format: date
          description: "Date d'effet du lien de succession, au format AAAA-MM-JJ"
        transfertSiege:
          type: boolean
          description: Indicatrice de transfert de siège
        continuiteEconomique:
          type: boolean
          description: Indicatrice de continuité économique entre les deux établissements
        dateDernierTraitementLienSuccession:
          type: string
          format: date-time
          description: "Date de traitement du lien de succession, au format yyyy-MM-ddTHH:mm:ss.SSS"
          example: 2025-05-10T15:18:50.255
    ReponseLienSuccession:
      type: object
      description:
        Objet renvoyé en cas de succès sur une requête demandant les prédécesseurs
        d'un établissement
      properties:
        header:
          $ref: "#/components/schemas/Header"
        liensSuccession:
          type: array
          items:
            $ref: "#/components/schemas/LienSuccession"
    ReponseUniteLegale:
      type: object
      description:
        Objet renvoyé en cas de succès sur une requête demandant un ou
        unité légale
      properties:
        header:
          $ref: "#/components/schemas/Header"
        uniteLegale:
          $ref: "#/components/schemas/UniteLegale"
    DatesMiseAJourDonnees:
      type: object
      description: Dates des dernières mises Ã  jour de chaque collection de données
      properties:
        collection:
          type: string
          description: Nom de la collection
          enum:
            - "Unités Légales, Ã‰tablissements"
        dateDerniereMiseADisposition:
          type: string
          format: date-time
          description:
            Date et heure (yyyy-MM-ddTHH:mm:ss.SSS) de la dernière mise
            Ã  disposition des données de la collection
          example: 2025-05-10T15:18:50.255
        dateDernierTraitementMaximum:
          type: string
          format: date-time
          description:
            Date (yyyy-MM-ddTHH:mm:ss.SSS) correspondant Ã  la date de validité
            des données consultées
          example: 2025-05-10T15:18:50.255
        dateDernierTraitementDeMasse:
          type: string
          format: date-time
          description:
            Date (yyyy-MM-ddTHH:mm:ss.SSS) du dernier traitement de masse
            sur la collection. Ã€ cette date plusieurs centaines de milliers de documents
            ont pu être mis Ã  jour. Il est conseillé de traiter cette date d'une manière
            spécifique
          example: 2025-05-10T15:18:50.255
    EtatCollection:
      type: object
      properties:
        Collection:
          type: string
          description: Collection
        etatCollection:
          type: string
          description: Etat du service
          enum:
            - "UP,DOWN"
    ReponseInformations:
      type: object
      description:
        Objet renvoyé en cas de requête demandant les informations sur
        le service
      properties:
        header:
          $ref: "#/components/schemas/Header"
        etatService:
          type: string
          description: Ã‰tat actuel du service
          enum:
            - "UP,DOWN"
        etatsDesServices:
          type: array
          description: Etats des services
          items:
            $ref: "#/components/schemas/EtatCollection"
        versionService:
          type: string
          description: Numéro de la version
        journalDesModifications:
          type: string
          description: Historique des versions de l'API Sirene
        datesDernieresMisesAJourDesDonnees:
          type: array
          description: Dates des dernières mises Ã  jour de chaque collection de données
          items:
            $ref: "#/components/schemas/DatesMiseAJourDonnees"
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.insee.net/auth/realms/apim-gravitee/protocol/openid-connect/token
          scopes: {}
