<div class="fr-container fr-my-5w">   
    <h1>Conditions Générales d'Utilisation</h1>
    <h2>Table des matières</h2>
    <ul>
        <li><a href="#description">1. Description du Service</a></li>
        <li><a href="#acces">2. Accès et utilisation du Service</a></li>
        <li><a href="#disponibilite">3. Disponibilité du Service</a></li>
        <li><a href="#evolution">4. Évolution des conditions générales d'utilisation</a></li>
        <li><a href="#responsabilites">5. Responsabilités</a></li>
        <li><a href="#contact">6. Contact</a></li>
        <li><a href="#mentions">7. Mentions légales</a></li>
        <li><a href="#annexe1">Annexe 1 : Rejoindre une organisation sur ProConnect</a></li>
        <li><a href="#annexe2">Annexe 2 : Cycle de vie des comptes</a></li>
    </ul>

    <p>Les présentes conditions générales d'utilisation (CGU) ont pour objet de déterminer les conditions d'accès et les règles d'utilisation du Service par ses Utilisateurs et Utilisatrices.</p>
    <p>L'accès au Service est subordonné au respect des CGU. La DINUM se réserve le droit de modifier ou de mettre à jour unilatéralement ces CGU afin de se conformer aux évolutions légales et techniques.</p>
    <p>L'utilisateur doit consulter régulièrement la dernière version des CGU disponible en permanence sur le site.</p>

    <h2 id="description">1. Description du Service</h2>
    <p>ProConnect (ci-après dénommé « le Service ») est mis en œuvre par la Direction interministérielle du numérique (ci-après dénommée « la DINUM »).</p>
    <p>ProConnect est un outil d'authentification utilisé pour se connecter à des services de l'État. Il permet notamment de se connecter à DataPass pour déposer des demandes d'habilitation juridique.</p>
    <p>L'usager se crée un compte nominatif et l'associe à l'organisation qu'il représente. Cette organisation est identifiée par son numéro SIRET.</p>
    <p>ProConnect utilise des traitements manuels et automatiques pour vérifier la légitimité de l'utilisateur à représenter son organisation. Le détail des traitements effectués est précisé en annexe 1.</p>
    <p>Dans certains cas, l'utilisateur peut être amené à confirmer la légitimité d'un autre utilisateur à représenter son organisation.</p>

    <h2 id="acces">2. Accès et utilisation du Service</h2>
    <h3>Accès au Service</h3>
    <p>Le Service est mis à disposition de l'ensemble des professionnels, du secteur privé comme du secteur public, qui souhaitent utiliser une identité professionnelle dans leurs démarches auprès de l'administration. Cette mise à disposition est conditionnée au fait que l'organisation représentée dispose d'un numéro SIRET. Ceci exclut en particulier les professionnels qui représentent des sociétés étrangères qui ne sont pas référencées auprès de l'INSEE. Certaines associations ne disposent également pas de numéro SIRET.</p>
    <p>Les utilisateurs peuvent à tout moment demander la suppression de leurs données personnelles par simple demande écrite à : contact+identite@proconnect.gouv.fr.</p>

    <h3>Utilisation du Service</h3>
    <p>L'utilisation du Service est réservée à un usage professionnel.</p>
    <p>Lors de la création de son compte, l'utilisateur ou l'utilisatrice s'engage à ne pas renseigner de fausses informations.</p>
    <p>En cas de fausse déclaration, la DINUM se réserve le droit de supprimer l'accès au service sans préavis.</p>
    <p>Si l'utilisateur ou l'utilisatrice estime que son mot de passe est compromis, il ou elle doit le modifier sans délai.</p>
    <p>En cas de compromission de son compte, l'utilisateur ou l'utilisatrice doit contacter l'équipe support : contact+identite@proconnect.gouv.fr.</p>
    <p>Tout utilisateur ou utilisatrice qui constate la présence de contenus illicites, inappropriés ou contraires aux présentes conditions d'utilisation sur un salon privé ou un forum peut le signaler à la DINUM à l'adresse : contact+identite@proconnect.gouv.fr.</p>

    <h2 id="disponibilite">3. Disponibilité du Service</h2>
    <p>Le Service est accessible 24h/24, 7j/7, sauf cas de force majeure ou d'évènement hors de contrôle de la DINUM.</p>
    <p>La DINUM se réserve le droit de suspendre, d'interrompre ou de limiter, sans avis préalable, l'accès à tout ou partie du Service, notamment pour des opérations de maintenance et de mises à jour nécessaires au bon fonctionnement du Service et des matériels afférents, ou pour toute autre raison, notamment technique.</p>
    <p>La DINUM n'est tenue à aucune obligation de résultat concernant la disponibilité du Service. Elle n'est en aucun cas responsable des interruptions et des conséquences qui peuvent en découler pour l'Utilisateur, particulièrement lorsque les interruptions proviennent de celles de l'Hébergeur pour ses besoins de maintenance ou autres.</p>
    <p>Il n'est pas garanti que le Service soit exempt d'anomalies ou d'erreurs. Le Service est donc mis à disposition sans garantie sur sa disponibilité et ses performances. À ce titre, la DINUM ne peut être tenue responsable des pertes ou préjudices, de quelque nature qu'ils soient, qui pourraient être causés à la suite d'un dysfonctionnement ou une indisponibilité du Service. De telles situations n'ouvriront droit à aucune compensation financière.</p>

    <h2 id="evolution">4. Évolution des conditions générales d'utilisation</h2>
    <p>Les termes des présentes conditions d'utilisation peuvent être modifiés ou complétés à tout moment, sans préavis, en fonction des modifications apportées Service, de l'évolution de la législation ou pour tout autre motif jugé nécessaire.</p>
    <p>Ces modifications et mises à jour s'imposent à l'utilisateur ou l'utilisatrice qui doit, en conséquence, se référer régulièrement à cette rubrique pour vérifier les conditions générales en vigueur.</p>

    <h2 id="responsabilites">5. Responsabilités</h2>
    <p>L'utilisateur ou l'utilisatrice s'engage, lors de l'utilisation qu'il fait du Service, à ne pas contrevenir aux dispositions législatives et réglementaires en vigueur et aux CGU.</p>
    <p>De manière générale, la DINUM se dégage de toute responsabilité en cas d'utilisation non conforme aux CGU du Service.</p>
    <p>L'Utilisateur ou l'Utilisatrice est informé que toute violation des stipulations des CGU est susceptible d'être signalée à son administration et d'entraîner des poursuites judiciaires et des sanctions à son encontre.</p>
    <p>L'utilisateur ou l'utilisatrice est responsable de tout préjudice matériel ou immatériel, direct et/ou indirect de quelque nature que ce soit causé en cas d'utilisation non conforme aux CGU.</p>
    <p>La DINUM s'engage à faire ses meilleurs efforts afin de mettre en œuvre des mesures techniques et organisationnelles pour protéger le Service et les données qu'il traite.</p>
    <p>L'utilisateur ou l'utilisatrice reconnaît qu'il est impossible de garantir une sécurité totale des données transmises. En conséquence, la DINUM ne peut être tenue responsable des incidents qui peuvent découler de cette transmission.</p>

    <h2 id="contact">6. Contact</h2>
    <p>Pour toute question sur le Service, vous pouvez écrire à contact+identite@proconnect.gouv.fr.</p>

    <h2 id="mentions">7. Mentions légales</h2>
    <h3>Éditeur :</h3>
    <p>Direction Interministérielle au Numérique (DINUM), 20 Avenue de Ségur, 75007 PARIS</p>

    <h3>Directeur de la publication :</h3>
    <p>Madame Stéphanie Schaer, Directeur Interministériel au Numérique.</p>

    <h3>Prestataire d'hébergement :</h3>
    <p class="fr-mb-0">SCALINGO </p>
    <p class="fr-mb-0">Siren : 808 665 483</p>
    <p>Siège social : 13 rue Jacques Peirotes - 67000 Strasbourg (France)</p>

    <h2 id="annexe1">Annexe 1 : Rejoindre une organisation sur ProConnect</h2>
    <p>Lorsqu'un utilisateur souhaite rejoindre une organisation sur ProConnect, un processus automatisé est suivi :</p>
    <ol>
        <li><strong>Validation du SIRET</strong> : Le SIRET de l'organisation souhaitée est vérifié. Si ce dernier n'est pas valide ou si une erreur de connexion avec l'INSEE se produit, l'utilisateur reçoit une erreur.</li>
        <li><strong>Vérification de l'activité de l'organisation</strong> : Si l'organisation correspondant au SIRET n'est pas active, l'utilisateur reçoit une erreur.</li>
        <li><strong>Vérification de l'utilisateur</strong> : Le système s'assure que l'utilisateur existe dans la base de données de ProConnect.</li>
        <li><strong>Association avec une organisation</strong> :
            <ul>
                <li>Si l'utilisateur est déjà associé à l'organisation, une erreur est renvoyée.</li>
                <li>Si l'utilisateur a déjà fait une demande d'association en attente de modération pour cette organisation, une erreur est renvoyée.</li>
            </ul>
        </li>
        <li><strong>Traitement basé sur le type d'organisation</strong> :
            <ul>
                <li><strong>Pour une entreprise unipersonnelle</strong> :
                    <ul>
                        <li>Si l'email de l'utilisateur ne provient pas d'un fournisseur d'email gratuit, le domaine de cet email est ajouté à la liste des domaines autorisés de l'organisation.</li>
                        <li>L'utilisateur est ensuite directement lié à l'organisation.</li>
                    </ul>
                </li>
                <li><strong>Pour une collectivité territoriale (hors Éducation nationale)</strong> :
                    <ul>
                        <li>L'adresse email officielle de la collectivité est récupérée.</li>
                        <li>Si cette adresse email officielle est valide et ne provient pas d'un fournisseur d'email gratuit, le domaine de l'email est marqué comme vérifié.</li>
                        <li>Si l'adresse email de l'utilisateur est identique à l'adresse email officielle, il est associé avec une vérification basée sur cet email officiel.</li>
                        <li>Si le domaine de l'email de l'utilisateur est le même que le domaine de l'email officiel, il est associé avec une vérification basée sur ce domaine.</li>
                        <li>Si l'organisation a moins de cinquante employés ou si l'adresse email officielle provient d'un fournisseur d'email gratuit et que l'email de l'utilisateur provient aussi d'un fournisseur d'email gratuit, l'utilisateur est lié à l'organisation avec une vérification spéciale.</li>
                    </ul>
                </li>
                <li><strong>Pour l'Éducation nationale</strong> :
                    <ul>
                        <li>L'adresse email officielle de l'organisation est récupérée.</li>
                        <li>Si l'adresse email de l'utilisateur est identique à l'adresse email officielle, il est associé avec une vérification basée sur cet email officiel.</li>
                        <li>Si l'adresse email officielle est valide, l'utilisateur est lié avec une vérification spéciale basée sur cet email officiel.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><strong>Autres vérifications</strong> :
            <ul>
                <li>Si le domaine de l'email de l'utilisateur est déjà vérifié, il est directement associé.</li>
                <li>Si le domaine de l'email de l'utilisateur est autorisé de manière externe, il est lié comme utilisateur externe.</li>
                <li>Si le domaine de l'email de l'utilisateur est simplement autorisé, une demande de modération est créée, et il est lié temporairement.</li>
            </ul>
        </li>
        <li><strong>Modération</strong> : Si aucune des étapes ci-dessus n'aboutit à une association automatique, une demande de modération est créée. L'utilisateur reçoit alors un email l'informant de cette situation et un agent de la fonction publique examine la demande.</li>
    </ol>

    <h2 id="annexe2">Annexe 2 : Cycle de vie des comptes</h2>
    <h3>Définition d'un compte actif</h3>
    <p>Un compte d'utilisateur actif est un compte dont le propriétaire a prouvé qu'il avait accès à la boîte mail associée au compte dans les 3 derniers mois, soit en se connectant via un lien de connexion, soit en restituant un OTP envoyé par mail.</p>

    <h3>Connaissance des comptes existants</h3>
    <p>Un membre actif est un utilisateur appartenant à une organisation qui a prouvé qu'il avait accès à sa boîte mail dans les 3 derniers mois.</p>
    <p>La liste complète des membres actifs de l'organisation est énumérée par mail à un nouveau membre lors de son rattachement à une organisation.</p>
    <p>Lors de l'arrivée d'un nouveau membre dans une organisation, ProConnect cherche à s'assurer qu'un membre actif de l'organisation en question est prévenu de cette arrivée afin de détecter des erreurs.</p>
    <p>Après avoir été enregistré comme membre d'une organisation, un nouveau membre choisi parmi une liste de membres actifs de la même organisation la personne référente qu'il souhaite voir notifier de son arrivée. Le référent reçoit un mail lui demandant s'il reconnaît le nouveau membre. La décision du référent n'est pas bloquante pour le nouveau membre mais peut faire l'objet d'un rétrocontrôle le cas échéant. Si le nouveau membre ne reconnaît aucun des membres actifs connus de ProConnect, jusqu'à 30 membres actifs sont notifiés par mail à la place.</p>

    <h3>Désactivation et suppression d'un compte</h3>
    <p>Un utilisateur devient inactif au bout de 3 mois en l'absence de preuve d'accès à la boîte mail. Un tel utilisateur devra, pour réactiver son compte, soit se connecter par lien de connexion, soit restituer un OTP envoyé par mail.</p>
    <p>Un utilisateur actif peut supprimer son compte à tout moment sur son espace personnel disponible à l'adresse suivante : https://identite.proconnect.gouv.fr/connection-and-account</p>
    <p>Un compte est supprimé automatiquement 3 ans après la dernière connexion.</p>
    <p>Dans le cas d'un départ, un compte peut également faire l'objet d'une suppression par demande écrite à contact+identite@proconnect.gouv.fr.</p>
</div>
