<div class="fr-container fr-my-5w">
    <h1>Politique de Protection des Données</h1>

    <p>La direction interministérielle du numérique (DINUM) s'engage à assurer un niveau élevé de protection des données à caractère personnel et à se conformer à la réglementation générale sur la protection des données (RGPD) et à la loi informatique et Libertés.</p>

    <h2>Finalités des traitements et données à caractère personnel traitées</h2>
    <p>La DINUM ne collecte et n'exploite que les données adéquates, pertinentes et strictement nécessaires pour assurer les finalités suivantes :</p>
    <ul>
        <li><strong>l'authentification des utilisateurs</strong> : pour cette finalité, la DINUM intervient en tant que sous traitant de l'administration qui propose un service en ligne ;</li>
        <li><strong>la réalisation de statistiques d'utilisation et le support utilisateurs</strong> : la DINUM réalise ces traitements en tant que responsable de traitement.</li>
    </ul>
    <p>Lorsque la DINUM agit en qualité de responsable de traitement, la base de licéité de son traitement est l'exécution d'une mission d'intérêt public.</p>
    <p>Vos données à caractère personnel traitées par la DINUM pour répondre à ces finalités sont :</p>
    <ul>
        <li><strong>Données relatives au profil</strong> : prénom, nom, organisation et adresse mail professionnelle, numéro de téléphone professionnel, poste occupé, vérifications effectuées pour procéder au rattachement de l'utilisateur à son organisation</li>
        <li><strong>Historique de connexion</strong> : service en ligne, date de connexion et adresse IP</li>
        <li><strong>Données du support</strong></li>
    </ul>

    <h2>Durée de conservation des données</h2>
    <div class="fr-table">
        <table>
            <thead>
                <tr>
                    <th scope="col">Type de données</th>
                    <th scope="col">Durée de conservation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Données relatives au profil</td>
                    <td>36 mois après la dernière utilisation</td>
                </tr>
                <tr>
                    <td>Historique de connexion</td>
                    <td>36 mois</td>
                </tr>
                <tr>
                    <td>Support utilisateur</td>
                    <td>36 mois</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Accès aux données</h2>
    <p>Les données de profil sont partagées avec les administrations utilisatrices dans la limite des données nécessaires à leurs traitements.</p>
    <p>Les utilisateurs ont accès à leur historique de connexion.</p>
    <p>La DINUM s'engage à ce que vos données à caractère personnel soient traitées par les seules personnes autorisées à y avoir accès. Ces personnes habilitées sont les personnes travaillant à la DINUM ou pour l'un de ses sous-traitants.</p>
    <p>Notre politique est de ne pas transférer vos données en dehors de l'Union européenne.</p>

    <h2>Sous-traitants</h2>
    <p>Certaines données sont envoyées à des sociétés tierces qui interviennent en tant que sous-traitants de la DINUM.</p>
    <p>La DINUM s'assure de la mise en œuvre par ses sous-traitants de garanties adéquates (contrat, audits, plan d'assurance sécurité) et du respect de conditions strictes de confidentialité, d'usage et de protection des données.</p>

    <div class="fr-table">
        <table>
            <thead>
                <tr>
                    <th scope="col">Partenaire</th>
                    <th scope="col">Traitement réalisé</th>
                    <th scope="col">Pays destinataire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Malt</td>
                    <td>
                        Vérifications pour procéder aux rattachement d'un utilisateur à son organisation<br>
                        Support utilisateur
                    </td>
                    <td>UE</td>
                </tr>
                <tr>
                    <td>Scalingo</td>
                    <td>Hébergement</td>
                    <td>UE</td>
                </tr>
                <tr>
                    <td>Brevo</td>
                    <td>Envoi d'emails aux utilisateurs</td>
                    <td>UE</td>
                </tr>
                <tr>
                    <td>Debounce</td>
                    <td>Outil de validation d'emails</td>
                    <td>UE</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Sécurité des données</h2>
    <p>La DINUM est particulièrement vigilante à la sécurité de vos données. Elle met en place une politique stricte de sécurité pour protéger l'intégrité, la confidentialité et la disponibilité de vos données.</p>
    <p>Mesures de sécurité mises en place :</p>
    <ul>
        <li>Audits et tests de sécurités</li>
        <li>Anonymisation ou chiffrement des données</li>
        <li>Contrôle d'accès logique et physique des utilisateurs</li>
        <li>Mesures de sauvegarde, etc.</li>
    </ul>

    <h2>Vos droits</h2>
    <p>Vous disposez d'un droit d'accès et de modification des données à caractère personnel qui vous concernent. Vous pouvez également vous opposer aux traitements réalisés par la DINUM.</p>
    <p>Ces droits s'exercent auprès de la DINUM ou de l'administration utilisatrice.</p>
    <p>Pour contacter la DINUM, vous pouvez écrire à l'adresse : contact+identite@proconnect.gouv.fr.</p>
    <p>Pour exercer vos droits, vous pouvez également contacter le délégué à la protection des données (DPD) des services du Premier Ministre :</p>
    <ul>
        <li>par mail à dpd@pm.gouv.fr</li>
        <li>ou par courrier à l'adresse suivante :
            <address>
                <p class="fr-mb-O">Services du Premier Ministre</p>
                <p class="fr-mb-O">À l'attention du délégué à la protection des données</p>
                <p class="fr-mb-O">56 rue de Varenne</p>
                <p class="fr-mb-O">75007 Paris</p>
            </address>
        </li>
    </ul>
    <p>Conformément au règlement général sur la protection des données, vous disposez du droit d'introduire une réclamation auprès de la CNIL (3 place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07). Les modalités de réclamation sont précisées sur le site de la CNIL : www.cnil.fr</p>

    <h2>Cookies</h2>
    <p>Nous utilisons différents cookies pour mesurer l'audience et intégrer des services permettant d'améliorer nos produits.</p>

    <h3 class="fr-h5">Cookies exemptés de consentement strictement nécessaires au fonctionnement du service</h3>
    <div class="fr-table">
        <table>
            <thead>
                <tr>
                    <th scope="col">Nom du cookie</th>
                    <th scope="col">Finalité</th>
                    <th scope="col">Durée de conservation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_pk_id ; _pk_ref ; _pk_ses</td>
                    <td>Statistiques d'utilisation du service</td>
                    <td>13 mois</td>
                </tr>
                <tr>
                    <td>session</td>
                    <td>Cookie de session</td>
                    <td>24 heures</td>
                </tr>
                <tr>
                    <td>oidc.session ; oidc.session.sig</td>
                    <td>Authentification unique (Single Sign On)</td>
                    <td>24 heures</td>
                </tr>
                <tr>
                    <td>trusted-browser</td>
                    <td>Sécurité</td>
                    <td>3 mois</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
