<div class="fr-mt-2w fr-grid-row fr-grid-row--center">
  <button class="fr-btn fr-btn--tertiary-no-outline go-back-link">
    Revenir à l'étape précédente
  </button>
</div>
<script type="module" src="<%= js('go-back.js') %>"></script>
