<div class="fr-alert fr-alert--warning fr-mb-3w">
    <h2 class="fr-alert__title">Vous êtes sur une instance de test</h2>
    <p>
        Afin de limiter le risque de divulguer vos informations personnelles,
        merci de ne pas utiliser votre adresse email.
        Pour vos tests, utilisez des adresses <a target="_blank" rel="noopener noreferrer" href="https://yopmail.com/">yopmail</a>.
    </p>
</div>
