<div>
  <%- include('../partials/stepper.ejs', {currentStep: "3", stepsTitle: "Vous pouvez dès à présent vous ProConnecter", nextStepTitle: null }); %>
  <div class="fr-mb-2w fr-mt-5w">
    <img src="/dist/check-green.svg" alt="" class="limited-width" />
  </div>
  <p class="fr-h1">Votre double authentification est bien configurée</p>
  <form action="/users/2fa-successfully-configured" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
    <button class="fr-btn" type="submit">
      Continuer
      <% if (locals.spName) { %>
        sur <%= locals.spName; %>
      <% } %>
    </button>
  </form>
</div>
