<div>
  <h1 class="fr-h1">Email non autorisé</h1>
  <div>
    <p>Les adresses email de l’administration publique ne peuvent pas être utilisées pour représenter des organisations privées. Merci de choisir une autre organisation.</p>
  </div>

  <p>
    Vous pouvez également nous signaler cette erreur par mail à
    <a href="mailto:support+identite@proconnect.gouv.fr?subject=Email%20non%20autoris%C3%A9" target="_blank" rel="noopener noreferrer">support+identite@proconnect.gouv.fr</a>.
  </p>
  <a href="/" class="fr-btn fr-btn--secondary">Retour à l’accueil</a>
</div>
