<div>
  <h1 class="fr-h1">Accès restreint</h1>
  <p>
    Seules les adresses <%= organization_domains; %> peuvent rejoindre l’organisation « <%= organization_label; %> ».
    Soyez sûrs d’utiliser le SIRET de l’organisation pour laquelle vous travaillez.
  </p>

  <p>
    Vous pouvez également nous signaler cette erreur par mail à
    <a href="mailto:support+identite@proconnect.gouv.fr?subject=Email%20non%20autoris%C3%A9" target="_blank" rel="noopener noreferrer">support+identite@proconnect.gouv.fr</a>.
  </p>
  <a href="/" class="fr-btn fr-btn--secondary">Retour à l’accueil</a>
</div>
