<div>
  <h1 class="fr-h1">Email non autorisé</h1>
  <p>Les adresses email de l’administration publique ne peuvent pas être utilisées pour représenter des organisations privées. Merci de choisir une autre organisation.</p>
  <p>
    Vous pouvez également nous signaler cette erreur par mail à
    <a href="mailto:support+identite@proconnect.gouv.fr?subject=Utilisation%20d'un%20domaine%20gouv.fr%20pour%20une%20organisation%20priv%C3%A9e" target="_blank" rel="noopener noreferrer">support+identite@proconnect.gouv.fr</a>.
  </p>
  <a href="/" class="fr-btn fr-btn--secondary">Retour à l’accueil</a>
</div>
