<div>
  <h1 class="fr-h1">Accès restreint</h1>
  <p>
    Vous ne pouvez pas rejoindre l’organisation « <%= organization_label; %> ».
  </p>

  <p>
    Vous pouvez également nous signaler cette erreur par mail à
    <a href="mailto:support+identite@proconnect.gouv.fr?subject=Email%20refus%C3%A9" target="_blank" rel="noopener noreferrer">support+identite@proconnect.gouv.fr</a>.
  </p>
  <a href="/" class="fr-btn fr-btn--secondary">Retour à l'accueil</a>
</div>
