<div>
  <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>

  <% if (locals.displayCertificationDirigeantContent) { %>
  <h1 class="fr-h3">Certifier votre statut</h1>

  <p>
    Vous pouvez authentifier instantanément votre statut de dirigeant grâce à
    FranceConnect.
  </p>
  <% } else { %>
  <h1 class="fr-h3">Vérifiez votre identité</h1>

  <p class="fr-badge fr-badge--new fr-mb-2w">Nouvelle vérification de sécurité</p>

  <p>
    Vérifiez votre identité avec <b>FranceConnect</b> pour
    <b>renforcer la protection de votre compte</b>
    et garantir la sécurité des services auxquels vous accédez.
  </p>
  <p>
    <i>
      Cette vérification est demandée lors de votre première connexion,
      puis une fois tous les 3 mois.
    </i>
  </p>
  <% } %>
  <form
    action="/users/franceconnect/login"
    method="post"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
    <div class="fr-connect-group">
      <% if (locals.displayCertificationDirigeantContent) { %>
      <p class="text-muted">
        FranceConnect est la solution proposée par l’État pour sécuriser et
        simplifier la connexion à vos services en ligne.
      </p>
      <% } %>

      <button aria-label="S’identifier avec FranceConnect" class="fr-connect">
        <span class="fr-connect__login">S’identifier avec</span>
        <span class="fr-connect__brand">FranceConnect</span>
      </button>
      <p>
        <a
          href="https://franceconnect.gouv.fr/"
          target="_blank"
          rel="noopener"
          >Qu’est-ce que FranceConnect ?
        </a>
      </p>
    </div>
  </form>
</div>
