<div>
  <div class="fr-mb-2w">
    <img src="/dist/alert.svg" alt="" />
  </div>
  <h1 class="fr-h2">Nous n’arrivons pas à certifier votre compte.</h1>

  <div>
    <div class="fr-alert fr-alert--error fr-mb-2w">
      <p class="fr-alert__title">
        Nous ne trouvons pas de dirigeant correspondant à votre identité pour cette entreprise.
      </p>
    </div>

    <p>
      <a
        href="https://annuaire-entreprises.data.gouv.fr/entreprises/liste"
        rel="noopener noreferrer"
        target="_blank"
      >
        Vérifiez la liste des dirigeants sur l'Annuaire des Entreprises
      </a>
    </p>
    <p>
      Si vous ne figurez pas dans la liste ou si une information est incorrecte.
      <a
        href="https://proconnect.crisp.help/fr/"
        rel="noopener noreferrer"
        target="_blank"
      >
        Consultez notre aide
      </a>
    </p>

    <% if (locals.interactionId && locals.oidcError) { %>
    <a href="/interaction/<%= interactionId ;%>/error?error=<%= locals.oidcError %>" class="fr-btn fr-btn--secondary">Continuer</a>
    <% } else { %>
    <a href="/" class="fr-btn fr-btn--secondary">Retour à l’accueil</a>
    <% } %>

  </div>
</div>
